<h1>{{ "common.settings" | translate }}</h1>

<!-- profile card -->
<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title> {{ "common.profile" | translate }} </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
      <mat-form-field>
        <mat-label>{{ "common.username" | translate }}</mat-label>
        <input matInput type="text" [value]="user?.username ?? ''" readonly disabled />
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ "common.name" | translate }}</mat-label>
        <input matInput type="text" formControlName="name" />
        @if (profileForm.controls.name.errors) {
          <mat-error>{{ profileForm.controls.name.errors | validationError }}</mat-error>
        }
      </mat-form-field>

      <mat-card-actions>
        <button mat-flat-button type="submit" [disabled]="!profileForm.enabled || !profileForm.valid || !profileForm.dirty">
          {{ "common.updateProfile" | translate }}
        </button>
      </mat-card-actions>
    </form>

    <mat-divider class="disabled"></mat-divider>

    <form [formGroup]="emailForm" (ngSubmit)="updateEmail()">
      <mat-form-field>
        <mat-label>{{ "common.email" | translate }}</mat-label>
        <input matInput type="text" formControlName="email" />
        @if (emailForm.controls.email.errors) {
          <mat-error>{{ emailForm.controls.email.errors | validationError }}</mat-error>
        }
      </mat-form-field>

      <mat-card-actions>
        <button mat-flat-button type="submit" [disabled]="!emailForm.enabled || !emailForm.valid || !emailForm.dirty">
          {{ "common.updateEmail" | translate }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

<mat-divider></mat-divider>

<!-- security card -->
<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title> {{ "common.security" | translate }} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="passwordForm">
      <app-password-set
        style="width: 100%; margin-top: 0px"
        [oldPassword]="user?.hasPassword ? passwordForm.controls.oldPassword : undefined"
        [newPassword]="passwordForm.controls.newPassword"
        [confirmPassword]="passwordForm.controls.confirmPassword"
      >
      </app-password-set>

      <mat-card-actions>
        <button
          mat-flat-button
          type="button"
          (click)="updatePassword()"
          [disabled]="!passwordForm.enabled || !passwordForm.valid || !passwordForm.dirty"
        >
          {{ user?.hasPassword ? ("common.changePassword" | translate) : ("common.setPassword" | translate) }}
          {{ "common.password" | translate }}
        </button>

        <mat-divider class="disabled"></mat-divider>

        <h2 style="margin-top: -16px">{{ "common.passkeys" | translate }}</h2>

        <p style="text-align: center">{{ user?.hasPasskeys ? ("common.hasPasskey" | translate) : ("common.noPasskey" | translate) }}.</p>

        <button mat-flat-button type="button" (click)="registerPasskey()" [disabled]="!passkeySupport?.enabled">
          {{ "common.registerPasskey" | translate }}
          <mat-icon fontSet="material-icons-round" matSuffix>key</mat-icon>
        </button>

        <mat-divider class="disabled"></mat-divider>

        <h2 style="margin-top: -16px">{{ "common.mfa" | translate }}</h2>

        <p style="text-align: center">
          {{ "common.mfa" | translate }}
          {{
            user?.mfaRequired || user?.hasMfaGroup || config?.mfaRequired
              ? ("common.mfaEnabled" | translate)
              : ("common.mfaNotEnabled" | translate)
          }}.
        </p>
        <p style="text-align: center">
          {{ user?.hasTotp ? ("common.hasAuthenticator" | translate) : ("common.noAuthenticator" | translate) }}.
        </p>

        <button mat-flat-button type="button" (click)="addAuthenticator()">
          {{
            user?.mfaRequired || user?.hasMfaGroup || config?.mfaRequired
              ? ("common.addAuthenticator" | translate)
              : ("common.enableMfa" | translate)
          }}
          <mat-icon fontSet="material-icons-round" matSuffix>lock</mat-icon>
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

<mat-divider></mat-divider>

<!-- account card -->
<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title> {{ "common.account" | translate }} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-card-actions>
        <span
          [matTooltip]="
            !user?.hasPassword
              ? ('common.noPasswordToRemove' | translate)
              : !user?.hasPasskeys
                ? ('common.removePasskeysTooltipNoPasskeys' | translate)
                : null
          "
          ><button
            mat-flat-button
            type="button"
            class="error-button"
            (click)="removePassword()"
            [disabled]="!user?.hasPassword || !user?.hasPasskeys"
          >
            {{ "common.removePassword" | translate }}
          </button></span
        >

        <span
          [matTooltip]="
            !user?.hasPasskeys
              ? ('common.removePasskeysTooltipNoPasskeys' | translate)
              : !user?.hasPassword
                ? ('common.removePasskeysTooltipNoPassword' | translate)
                : null
          "
          ><button
            mat-flat-button
            type="button"
            class="error-button"
            (click)="removeAllPasskeys()"
            [disabled]="!user?.hasPasskeys || !user?.hasPassword"
          >
            {{ "common.removeAllPasskeys" | translate }}
          </button></span
        >

        <span
          [matTooltip]="
            user?.hasTotp || user?.mfaRequired || user?.hasMfaGroup || config?.mfaRequired ? null : ('common.mfaNotEnabled' | translate)
          "
          ><button
            mat-flat-button
            type="button"
            class="error-button"
            (click)="removeAllAuthenticators()"
            [disabled]="!user?.hasTotp && (!user?.mfaRequired || user?.hasMfaGroup || config?.mfaRequired)"
          >
            {{
              user?.mfaRequired || user?.hasMfaGroup || config?.mfaRequired
                ? ("common.disableMfa" | translate)
                : ("common.removeAuthenticators" | translate)
            }}
          </button></span
        >

        <button mat-flat-button type="button" class="danger-button" (click)="deleteUser()">{{ "common.deleteAccount" | translate }}</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

<span style="flex-grow: 1"></span>

@if (config?.contactEmail; as contactEmail) {
  <a style="margin-top: 48px" mat-button [href]="'mailto:' + contactEmail">{{ "common.contact" | translate }}</a>
}
