<h1>{{ "common.logoutTitle" | translate }}</h1>
<mat-card class="form-card">
  <mat-card-content>
    <form autocomplete="off" [action]="host + '/oidc/session/end/confirm'" method="post">
      <!-- TODO: Display OIDC App name/id if provided -->
      @if (user) {
        <h2>{{ user.name ?? user.username }}</h2>
      }
      <p>{{ "common.doYouWantToLogOut" | translate }}</p>
      <input type="hidden" name="xsrf" [value]="challenge" />
      <mat-card-actions>
        <button mat-flat-button autofocus="" [disabled]="!challenge" type="submit" value="yes" name="logout">
          {{ "common.yes" | translate }}
        </button>
        @if (history.length) {
          <button mat-button type="button" (click)="history.back()">{{ "common.back" | translate }}</button>
        } @else {
          <button mat-button type="submit">{{ "common.no" | translate }}</button>
        }
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
